<!-- 

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inventory/classification/Custom">Custom</a></li>
    <li><a href="/inventory/classification/Sedan">Sedan</a></li>
    <li><a href="/inventory/classification/Sport">Sport</a></li>
    <li><a href="/inventory/classification/SUV">SUV</a></li>
    <li><a href="/inventory/classification/Truck">Truck</a></li>
  </ul>
</nav> -->








<nav>
  <ul>
    <% classifications.forEach(c => { %>
      <li>
        <a href="/inv/type/<%= c.classification_id %>">
          <%= c.classification_name %>
        </a>
      </li>
    <% }) %>
  </ul>
</nav>
