

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-image: url('/images/site/checkerboard.jpg'); 
  background-repeat: repeat; 
  background-size: auto; 
  color: #222;
}

#wrapper {
  max-width: 900px;
  margin:  auto;
  background-color: #ffffff;   
  border: 5px solid #00aaff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #00aaff;
  margin: auto;
  margin-bottom: 1rem;
}

header h1 {
  font-size: 1.5rem;
}

.account {
  font-size: 0.9rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #222;
  margin-bottom: 1rem;
}

ul li{
  font-size: larger;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0.7rem 1rem;
  display: block;
}

nav a:hover {
  background-color: #00aaff;
}

h1,
h2 {
  margin: 1rem 0;
}


#hero {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
 
}

.hero-text {
  text-align: center;

}

.hero-text ul {
  list-style: none;
  margin: 0.5rem 0;
}

.btn {
  background-color: #00aaff;
  color: white;
  text-decoration: none;
  padding: 0.6rem 1rem;
  border-radius: 4px;
  display: inline-block;
}

.hero-img {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}


#reviews ul {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

#upgrades .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#upgrades a {
  background-color: #00aaff;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

#upgrades img {
  width: 100%;
  max-width: 120px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  #hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-text {
    text-align: left;
  }

  #upgrades {
    display: flex;
    justify-content: space-between;
  }

  #upgrades .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #reviews {
    flex: 1;
    margin-left: 2rem;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}

