<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventory</title>
  <%- include('../partials/head'); %>
</head>
<body>
  <%- include('../partials/header'); %>
  <main>
    <h1>Vehicle Inventory</h1>
    <p>Select a classification from the navigation above.</p>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>
